@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-secundario: #add8e6; 
    --color-terciario: #000000;
    
    --fuente-anton: "Anton SC", sans-serif;
    --fuente-exo: "Exo 2", sans-serif;
}

body {
    background-color: #aae5a4;
    color: white;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}


.destaquePiedra {
   color: #758694; 
   font-size: 36px;
   font-family: var(--fuente-anton);
}

.destaquePapel {
    color: white;
    font-size: 36px;
    font-family: var(--fuente-anton);
}

.destaqueTijera {
    color: var(--color-terciario);
    font-size: 36px;
    font-family: var(--fuente-anton);
}

.menu{
    display: flex;
    margin: 5%;
    justify-content: center;
}

.menu_titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu_texto {
    color: var(--color-terciario);
    font-family: var(--fuente-exo);
    text-align: center;
}

.opciones {
    display: flex;
    margin: 5%;
    gap: 10px;
    text-align: center;
}

.opciones_interaccion {
    width: 230px;
    background-color: var(--color-secundario);
    font-family: "Anton SC", sans-serif;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}

.opciones_interaccion:hover {
    background-color: blue;
    color: azure;
}

.footer {
    background-color: var(--color-secundario);
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: var(--fuente-exo);
    border: 3px solid var(--color-terciario);
    color: var(--color-terciario);
}